body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

div#App {
  margin-left:auto;
  margin-right:auto;
  width:90%;
}

#blog-header {
  width: 75%;
  display: inline-block;
}

.blog-title {
  margin-bottom: -20px;
}

.blog-author {
  margin-bottom: -15px;
}

.blog-post {
  font-size: 14px;
}

#input-post {
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.edit {
  border: 1px solid black;
  margin-right: 10px;
  background: white;
}

#submit-button {
  border: 1px solid black;
  background: white;
  width: 35%;
  margin-right: 20px;
}

#delete-button {
  border: 1px solid black;
  background: white;
  width: 35%
}

#submit-delete {
  display: inline-block;
  width: 90%;
}
