body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

div#root {
  height: 100%;
}

div#App {
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  height: 70%;
}

a {
  text-decoration: none;
  color: black;
}

#blog-post-container {
  color: black;
}

.blog-post {
  font-size: 15px;
}

.blog-post p {
  margin-bottom: 5px;
  margin-block-end: 10px;
}

/* Reduce margin of first paragraph only*/
.blog-post p:first-child {
  margin-top:-15px;
}

#blog-nav-flex-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.edit {
  border: 1px solid black;
  margin-right: 10px;
  background: white;
  font-size: 14px;
}

#submit-delete {
  display: inline-block;
  width: 90%;
}

/********** Header */
#blog-header {
  width: 25%;
  display: inline-block;
  margin-bottom: 10px;
  max-width: 500px;
}

.blog-title {
  margin-bottom: -20px;
}

#create-new-button {
  border: 2px solid black;
  margin-right: 10px;
  background: white;
  font-size: 14px;
}


#signout {
  border: 2px solid black;
  background: white;
  font-size: 14px;
}

/********** Nav */
#nav-div {
  display: inline-block;
  width: 180px;
}

#nav-div-description {
  font-size: 12px;
  list-style: none;
  margin-bottom: 5px;
}

#nav-ul {
  width: 140px;
}

.nav-li {
  list-style: none;
  width: 100%;
  text-decoration: none;
}

.nav-li-home {
  list-style: none;
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
}

.nav-description {
  margin-bottom: 12px;
  border-bottom: solid black 2px;
}



/********** Sign In */

#h3-sign-in {
  margin-top: -10px;
  margin-bottom: 10px;
}

#password {
  border: 1px solid black;
  margin-bottom: 15px;
}

#emailAddress {
  border: 1px solid black;
  margin-bottom: 10px;
}

/********** Blog Posts*/

.author-date-div {
  display: inline-block;
}

.blog-author {
  display: inline-block;
  margin-right: 5px;
}

.date-created {
  display: inline-block
}


/********** Update Form */

#input-post {
  width: 80%;
  height: 200px;
  margin-right: auto;
}

#update-container-div {
  height: 100%;
}

#update-form {
  height: 100%;
}
#update-form {
  display: flex;
  flex-direction: column;
}

.options-button {
  border: 1px solid black;
  background: white;
  width: 27%;
  margin-right: 10px;
}

/************** Create New */

.description-tags {
  margin-top: -5px;
  margin-bottom: 7px;
}

#create-title {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#create-author {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#create-post {
  height: 200px;
  width: 80%;
}
